<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row justify-content-center" style="margin-left: 120px; margin-bottom: 5px;">
        <h2>Task List</h2>
    </div>
    <div class="row justify-content-center" style="margin-left: 250px;">
        <div style="margin-right: 250px;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">TaskName</th>
                        <th style="width: 200px; word-break: break-word;">Information</th>
                        <th style="width: 100px;">Status</th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tasks">
                        <td>{{item.taskname}}</td>
                        <td style="vertical-align: top;">{{item.description}}</td>
                        <td>{{item.status}}</td>
                        <td style="vertical-align: top;">
                            <div style="display: flex;">
                                <button (click)="updateTask(item)" class="btn btn-primary"
                                    style="width: 80px; margin-right: 5px;">Update</button>
                                <button (click)="deleteTask(item)" class="btn btn-danger"
                                    style="width: 80px; margin-right: 5px;">Delete</button>
                                <button (click)="viewTask(item.id)" class="btn btn-primary"
                                    style="width: 80px;">View</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>